@model Procedure

<section class="panel panel-default">
    <h3 class="panel-heading"><a asp-action="Procedure" asp-route-id="@Model.Id">@Model.Name</a></h3>
    <div class="panel-body">@Model.Description</div>
</section>