@model IEnumerable<Procedure>

@{ 
    ViewBag.Title = "All procedures";
}

<h1>
    <span class="text-info">Процедури</span>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-default pull-right" asp-action="AddProcedure">Добави процедура</a>
    }
</h1>

@foreach (var procedure in Model)
{
    @Html.Partial("_Summary", procedure)
}
