@model Procedure

@{ 
    ViewBag.Title = "Edit";
}
<div class="form-horizontal col-md-6 col-md-offset-3">
    <div class="well">
        <form method="post" asp-antiforgery="true" asp-route-id="@Model.Id" class="form-horizontal">
            <h3>Променяне процедура</h3>
            <div class="control-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="control-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="text-right edit-btn">
                <input type="submit" class="btn btn-primary" value="Edit" />
            </div>
        </form>
    </div>
</div>